.Card {
    display: flex;
    padding: 40px 20px;
    border-bottom: 1px solid #eee;
}

.Card .information {
    padding: 0px 20px;
}

.informationParagraf {
    opacity: .7;
    padding-top: 10px;
    width: max-content;
}

.paragraf {
    opacity: .7;
    padding-top: 10px;
}